# wsl-builds conf
# update this to suit your needs
# everything is optional

# builder
# CACHE_DIR=/mnt/c/WSL/cache                # cache large downloads on Windows host
# WARN_IF_CACHED_FILE_OLDER_THAN=60         # positive integer; stale cache prompt after this many days (default 60 when unset)
# APT_UPDATE_INTERVAL_MINS=360              # Minimum time between apt updates; default if left unset = 360 (6 hours). 0 to disable and always update (not recommended)
# EXTERNAL_BUILDS_ROOT=/mnt/c/my-builds     # absolute path or ~/path/; replaces repo builds/ with your own builds/ tree
# EXTERNAL_STACKS_ROOT=/mnt/c/my-stacks     # absolute path or ~/path/; replaces repo stacks/ with your own stacks/ tree

# dev / essentials
# GIT_CREDENTIALS_HELPER="/mnt/c/Program\ Files/Git/mingw64/bin/git-credential-manager.exe"
# GIT_USER_NAME="me"
# GIT_USER_EMAIL="my@email.com"
# GIT_PULL_REBASE=false

# system / qol
# WIN_HOME_SYMLINK=/home/me/c-home    # Symlink placed in your home dir on the WSL instance
# WIN_HOME_TARGET=/mnt/c/Users/me     # Location of your Windows host home dir on the WSL instance

# dev / qol
# CODE_HOME_SYMLINK=/home/me/code     # Symlink placed in your home dir on the WSL instance
# CODE_HOME_TARGET=/mnt/c/code        # Location on your Windows host where you store code projects

# ai / ollama - (default is on the WSL instance: /usr/share/ollama/.ollama/models/)
# OLLAMA_MODELS=/mnt/c/WSL/ollama-models    # store models on Windows host

# ai / huggingface-cli - (default is on the WSL instance: ~/.cache/huggingface)
# HF_HOME=/mnt/c/WSL/huggingface              # Hub config and default cache root
# HF_HUB_CACHE=/mnt/c/WSL/huggingface/hub     # Hub model/repo cache directory

# ai-resources - (default is on the WSL instance: ~/ai-resources)
# AI_RESOURCES_PROJECT_DIR=/mnt/c/WSL/ai-resources              # where the projects are cloned

# ai-resource / stylegan3 - (default is on the WSL instance: ~/.cache/)
# STYLEGAN3_PKL_CACHE=/mnt/c/WSL/stylegan3/pkl-cache            # cache pkls on Windows host
# STYLEGAN3_PYTORCH_CACHE=/mnt/c/WSL/stylegan3/pytorch-cache    # cache pytorch extensions on Windows host
