# wsl-builds
CACHE_DIR=/mnt/c/WSL/cache          # cache large downloads on Windows host

# biscuit
WIN_HOME=/mnt/c/Users/me            # Location of your Windows host home dir on the WSL instance
WIN_HOME_SYMLINK=/home/me/c-home    # symlink placed in the home dir of the WSL instance
CODE_HOME=/mnt/c/code               # Location on your Windows host where you store code project
CODE_HOME_SYMLINK=/home/me/code     # symlink placed in the home dir of the WSL instance
